:root{
    --pink: #e84393;
}


*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Eczar, serif;
    outline:none; border: none;
    text-decoration: none;
    transition: .2s linear;
}


html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    max-width:max-content; 
    margin: 0 auto;
    position: relative;
}


section{
    padding: 2rem 9%;    
}


.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #4D5566;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}
.btn:hover{
    background:var(--pink);
}


header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}


header .logo{
    width: 5rem;
    height: auto;
    display: block;
    padding: 0;
}

header .logo img{
    width:100%;
}

header .navbar a{
    font-size: 2rem;
    padding: 0 3.75rem;
    color: #666;
}


header .navbar a:hover{
    color:var(--pink);
}


.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
   
    background: url(bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}


.home .content{
    max-width: 70rem;
}


.home .content h3{
    font-size: 2rem;
    color: #333;
    border-radius: 5rem;
    border-style: hidden;
    background-color:#FFCFDA ;
    text-align: center;
    display: inline;
    height: 20rem;
    padding-right: 2rem;
}


.home .content h3 .hello{
 
    content: url('https://api.iconify.design/fluent-emoji/waving-hand-light.svg');
    height: 7rem;
    display: inline;
    width: 7rem;
    position: relative;
    top: 30px;
}


.home .content .name{
    font-size: 8rem;
    color: #333;
    padding: 2rem 1rem;
    line-height: 1.5;
    font-weight:bolder;
    display:block;
    width: 100%;
}


.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 255, 255);
    border-radius: 2.5rem;
    box-shadow: 0 .5rem 1 rem rgba(0, 0, 0, .1);
   
   
}


.heading .I {
    color: var(--pink);
}


.about{
    background-color: #ffc8fd;
    background:  radial-gradient(circle at top left,#fcf2f9, #ffc8fd );   
   
}


.about .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}


.about .row .kartun-cewek{
   
    flex: 1 1 40rem;
    position: relative;
    padding-left:2rem;
    flex-grow: 20;
}


.about .row .kartun-cewek img{
    width: 100%;
    border: 1.5rem solid #fff5f7;
    border-radius: 50rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .1);
    height: 100%;
    object-fit: cover;
   
}


 
.about .row .content{
    flex: 1 1 40rem;
    padding-right: 3rem;
    padding-left: 3rem;
    text-align: justify;
    flex-grow: 20;
}


.about .row .content h3{
    font-size: 3rem;
    color:#333;
    border-bottom: .25rem solid black;
    text-align: center;
}


.about .row .content p{
    font-size: 1.5rem;
    color:#666;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}


.skill{
    background-color: #ffd7fe;
}


.skill .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}


.skill .box-container .box{
    flex: 1 1 30rem;
    border-radius: 0.5rem;
    background: #f7c5d0;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border: .1rem solid rgba(0, 0, 0, .2);
    text-align: center;
    padding: 2rem;
}


.skill .box-container .box:hover{
    background-color: #f3a0b3;
}


.skill .box-container .box h3 {
    font-size: 2.5rem;
    color: #333;
}


.skill .box-container .box p{
    font-size: 1.5rem;
    color: #666;
    padding: .5rem 0;
    line-height: 2;
}


.skill .box-container .box img{
    width: 8rem;
    border: 1.5rem solid #f7c5d0;
    border-radius: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .1);
    height: 8rem;
}

.portofolio{
    background-color:#ffc8fd;
}

.portofolio .box-conta{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}

.portofolio .box-conta .boxs{
    width: 27rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;
}

.portofolio .box-conta .boxs .year{
    font-size: 1.3rem;
    background: var(--pink);
    color: #fff;
    border-radius: 1.5rem;
    padding: .5rem 2.5rem;
}

.portofolio .box-conta .boxs .year:hover{
    background-color: #f3a0b3;
}

.portofolio .box-conta .boxs h3{
    font-size: 2rem;
    color:#333;
    padding-top: 1.5rem;
}

.portofolio .box-conta .boxs p{
    font-size: 1.5rem;
    color:#333;
    padding: 1rem 0;
    text-align: justify;
}

.portofolio .box-conta .boxs img{
   position: absolute;
    height: 5rem;
    width: 5rem;
    top: -1.5rem;
    left: -2.5rem;
    line-height: 5rem;
    text-align: center;
}

.portofolio .box-conta .boxs li{
    font-size: 1.5rem;
    color:#333;
    padding: 1rem 0;
    text-align: justify;
}

.review{
    background-color: #ffd7fe;
}

.review .sub-heading{
    text-align: center;
    padding-bottom: 2rem;
    font-size: 2rem;
}

.review .box-contain{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
 
}

.review .box-contain .box1{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: 0.5rem;
    padding: 3rem 2rem;
    position:relative;
    background-color: #fde7ed;
}

.review .box-contain .box1:hover{
    background-color:#f3c5db ;
}


.review .box-contain .box1 .fa-quote-left{
    font-size: 4rem;
    color: #807a7a;
}

.review .box-contain .box1 .fa-quote-right{
    position: absolute;
    right: 3rem;
    bottom: 3rem;
    font-size: 4rem;
    color: #807a7a;
}

.review .box-contain .box1 .stars i{
    color: var(--pink);
    font-size: 2rem;
}
    

.review .box-contain .box1 p{
    color:#999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}


.review .box-contain .box1 .student{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-contain .box1 .student img{ 
    height: 6rem;
    width: 6rem;
    object-fit: cover;
    margin-right: 1rem;
}

.review .box-contain .box1 .student .student-info h3{
    font-size: 2rem;
    color:#333;
}

.review .box-contain .box1 .student .student-info span{
    font-size: 1.5rem;
    color:#999;
}

.contact .box-cont .box2 .logo-ig{
    content: url('https://api.iconify.design/mdi/instagram.svg?color=%23e84393');
    width: 6rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: 2rem;
}

.contact .box-cont .box2 .logo-email{
    content: url('https://api.iconify.design/mdi/email-outline.svg?color=%23e84393');
    width: 6rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: 2rem;
}

.contact .box-cont .box2 .logo-tt{
    content: url('https://api.iconify.design/ic/baseline-tiktok.svg?color=%23e84393');
    width: 6rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: 2rem;
}

.contact .box-cont .box2 .logo-hp{
    content: url('https://api.iconify.design/uil/phone.svg?color=%23e84393');
    width: 6rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: 2rem;
}

.contact .rows{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.contact .rows .box-cont{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;


}

.contact .rows .box-cont .box2{
    text-align: justify; 
    border: .1rem solid rgba(0, 0, 0, .2);
    padding: 2rem;
    background: #f7c5d0;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.contact .rows .box-cont .box2 h3{
    text-align: center;
    padding-bottom: 0.5rem;
}

.contact .rows .box-cont .btn-contact{
    display: inline-block;
    margin-top: .1rem;
    border-radius: 1rem;
    background: #4D5566;
    color: #fff;
    padding: .5rem 0.5rem;
    cursor: pointer;
    font-size: 1rem;
}
.contact .rows .box-cont .btn-contact:hover{
    background:var(--pink);
}


.contact .pic-container{
    flex: 1 1 40rem;
    position: relative;
    width:90rem;
    height: 30rem;
    
}

.contact .pic-container h1{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    font-size: 4rem;
    color: #333;
    width:100%;
    padding: 1rem;
    padding-left: 5rem; 
    padding-right: 2rem;   
}

.contact .pic-container img{
    width:100%;
    height:100%;
    object-fit:fill;
}

.contact{
    background-color:#ffc8fd;
    background: linear-gradient(to right,#fff, rgb(243, 197, 205), #ebd2e4, #ffb8e4, #ffd7fe, #faf5f8);   
}


